@use "../../assets/styles/mixins.module" as *;
@use "../../assets//styles//variables.module" as *;
.btn {
    @include btn(176px, 42px, 3px, $primary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $primary-color;
        border: solid 1px $primary-color;
        transition: background-color 300ms;
    }
}
